@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherish&family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
.inter-fonts {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }

   /* Nav-bar start here  */
   .nav-text-logo h4{
    color: rgb(230,83,60);
    font-style: italic;
    font-size: 3rem;
    font-family: inter;

    
   }
   .btn-primary{
    background:rgb(230,83,60) ;
    border-radius: 25px;
    border: none;
    color: white;
    font-size: 12px;
    width: 90px;
    height: 35px;
    margin-top: 12px;
   
   }
   .nav-bar{
    display: flex;
    gap: 35px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
   }
   .nav-options{
    display: flex;
    gap: 25px;
    justify-content: space-between;
   }
   .bar{
    display: none;
   }
   .nav-options p{
    color: white;
    text-align: left;
   font-size: 18px;
   font-family: inter;
   }
    /* Nav-bar ends here  */
    /* Banner-section start here  */
.banner-content{
    display: flex;
    justify-content: center;
    margin-top: 45px;
    gap: 160px;
    align-items: center;
}
.banner-image img{
    width: 80%;
    object-fit: cover;
}
.banner-text h1{
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 900px;
    font-family: inter;
}
.banner-text p{
    color: white;
    font-family: inter;
}
.btn{
    background:rgb(230,83,60) ;
    border-radius: 25px;
    border: none;
    color: white;
    font-size: 12px;
    width: 150px;
    height: 35px;
    margin-top: 12px;
   
}
.btn1{
    background: rgba(0, 0, 0, 0.247);
    border-radius: 25px;
    border: none;
    color: white;
    font-size: 12px;
    width: 150px;
    height: 35px;
    margin-top: 12px;
    box-sizing: border-box;
border: 1px solid white;
}
.position, .positions{
    color: white;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 15px;
    width: 30%;
   margin: 0 auto;
   padding: 5px;
   position: absolute;
   top: 20%;
   left: 43%;
   font-size: 15px;
   text-align: center;
}
.positions{
    color: white;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    border-radius: px;
    width: 30%;
   margin: 0 auto;
   padding: 5px;
   position: absolute;
   top: 80%;
   left: -20%;
   font-size: 15px;
   text-align: center;
}
.fa-solid{
    color:rgb(230,83,60) ;
}
.banner-image{
    position: relative;
    width: 30%;
}
.cursive{
    font-family: "Dancing Script", cursive;
    font-size: 4rem;
    color: white;
    font-weight: 900;

}

    /* Banner-section start here  */
    /* circle card section start here */
    .card-section{
        margin: 0 auto; 
        margin-top: 35px;
    }
.card-section-text h3{
    color: white;
    font-family: inter;
    text-align: center;
    font-size: 2rem;
}
.card-section-text p{
    color: white;
    font-size: 14px;
    text-align: center;
    font-family: inter;
}
.card-section-image{
    width: 25%;
}
.image1, .image2, .image3, .image4{
    width: 100%;
    
}
.image4 img{
    border: 2px solid rgba(255, 255, 255, 0.411);
    border-radius: 50%;
}
.image3 img{
    border: 2px solid rgba(255, 255, 255, 0.411);
    border-radius: 50%;  
}
.image2 img{
    border: 2px solid rgba(255, 255, 255, 0.411);
    border-radius: 50%;
}
.image1 img{
    border: 2px solid rgba(255, 255, 255, 0.411);
    border-radius: 50%;
}
.image1 h4 {
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: inter;
}
.image1 p {
    color: rgba(255, 255, 255, 0.187);
    text-align: center;
    font-size: 10px;
    font-family: inter;
}
.image2 h4 {
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: inter;
}
.image2 p {
    color: rgba(255, 255, 255, 0.187);
    text-align: center;
    font-size: 10px;
    font-family: inter;
}
.image3 h4 {
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: inter;
}
.image3 p {
    color: rgba(255, 255, 255, 0.187);
    text-align: center;
    font-size: 10px;
    font-family: inter;
}
.image4 h4 {
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: inter;
}
.image4 p {
    color: rgba(255, 255, 255, 0.187);
    text-align: center;
    font-size: 10px;
    font-family: inter;
}
.card-section-image{
    display: flex;
   gap: 50px; 
   margin: 0 140px ;
 
}
    /* circle card section end here */
    /* Extra mile section */
    .Extra-mile-section{
        width: 75%;
        margin: 0 90px;
        margin-top: 70px;
        background: rgb(34,34,34);
        border-radius: 20px;
    }
    .Extra-mile-section-text h3 {
color: white;
font-family: inter;
font-size: 2rem;

    }
    .Extra-mile-section-text p{
        color: white; 
        font-family: inter;
font-size: 1rem; 
    }
    .Extra-mile-section-image{
        width: 50%;
        height: 320px;
        margin-top: 20px;
    }
    .Extra-mile-section-image img{
        width: 100%;
        height: 300px;
        border-radius: 20px;
    }
    .Extra-mile-section-content{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 55px;
    }
    /* Extra mile section */
    /* Trainings and Exercises */
    .training-exercise-text h3{
        color: white;
        font-size: 2rem;
        font-family: Inter;
        margin-left: 190px;
    }
    .training-exercise-text p{
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        font-family: Inter;
        margin-left: 200px;
    }
    .image-1{
    background-image:linear-gradient(rgba(6,255,210,0.5), rgba(6,255,210,0.5)), url(../images/exercise1.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    width: 190px;
    height: 180px;
    }
    .image-2{
        background-image:linear-gradient(rgba(255,0,0,0.3), rgba(255,0,0,0.5)), url(../images/exercise2.png);
        background-position: center;
        background-size: cover;
        object-fit: cover;
        width: 450px;
        height: 180px;
        }
        .image-3{
            background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/exercise3.png);
            background-position: center;
            background-size: cover;
            object-fit: cover;
            width: 210px;
            height: 180px;
            }
            .image-4{
                background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/exercise4.png);
                background-position: center;
                background-size: cover;
                object-fit: cover;
                width: 380px;
                height: 180px;
                }
                .image-5{
                    background-image:linear-gradient(rgba(66,255,0,0.3), rgba(66,255,0,0.3)), url(../images/exercise5.jpg);
                    background-position: center;
                    background-size: cover;
                    object-fit: cover;
                    width: 190px;
                    height: 180px;
                    }
                    .image-6{
                        background-image:linear-gradient(rgba(0,71,255,0.3), rgba(0,71,255,0.3)), url(../images/exercise6.jpg);
                        background-position: center;
                        background-size: cover;
                        object-fit: cover;
                        width: 280px;
                        height: 180px;
                        }
                        .image-container-1{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        .image-container-2{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        .image-1 p{
                            margin-top: 140px;
                            font-size: 13px;
                            padding: 8px;
                        }
                        .image-2 p{
                            font-size: 13px;
                            padding: 18px;
                            color: white;
                        }
                        .image-3 p{
                            margin-top: 140px;
                            font-size: 13px;
                            padding: 8px;
                            color: white;
                        }
                        .image-4 p{
                            margin-left: 280px;
                            font-size: 13px;
                            padding: 8px;
                            color: white;
                        }
                        .image-5 p{
                            margin-top: 140px;
                            font-size: 13px;
                            padding: 8px;
                            color: white;
                        }
                        .image-6 p{
                            margin-top: 140px;
                            font-size: 13px;
                            padding: 8px;
                            color: white;
                        }
    /* Trainings and Exercises */
    /* BMI Calculator */
    .BMI-Calculator{
        margin: 0 auto;
        margin-top: 55px;
    }
    .BMI-Calculator-content h1{
        color: white;
        text-align: center;
        font-size: 3rem;
        font-family: inter;
    }
    .BMI-Calculator-content p{
        color: white;
        text-align: center;
        font-size: 15px;
        font-family: inter;
    }
    /* BMI Calculator */
    /* Table and form section */
  
.Table-and-form-section-content{
    display: flex;
    gap: 170px;
    justify-content: center;
 
}
.Table-and-form-section-table h3{
    color: white;
    font-size: 2rem;
    font-family: inter;
    text-align: center;
}
.Table-and-form-section-form-content h3{
    color: white;
    font-size: 2rem;
    font-family: inter;
    text-align: center;
}
.Table-and-form-section-form-content p{
    color: white;
    font-size: 1rem;
    font-family: inter;
    text-align: center;
}
.Table-and-form-section{
    background: rgb(34,34,34);
}
.table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    border: 1px solid #000; 
}

tbody {
    border: 1px solid #000; 
}

th, td {
    padding: 5px;
    border: 1px solid #ddd;
}
.table thead{
    color: white;
}
.table tbody{
    color: white;
}
.Table-and-form-section-form button{
    width: 250px;
    height: 40px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.365);
}
.calculate{
   color: white;
   background: rgb(230,83,60); 
   width: 150px;
   height: 30px;
   border-radius: 8px;
   text-align: center;
   font-size: 1.5rem;
}


    /* Table and form section */
     /* Meet Our Team  */
     .divv1{
        display: flex;
        gap: 25px;
        justify-content: center;
        
     }
     .divv1 img{
        border-radius: 15px;
        background: rgba(0,0,0,0.2);
     }
     .divv2 img{
        border-radius: 15px;
        background: rgba(0,0,0,0.2);
     }
     .divv2{
        display: flex;
        justify-content: center;
        gap: 25px;
        margin-top: 15px;
     }
     .image-container img{
        width:25%;

     }
.meet-our-team{
    margin: 0 auto;
    margin-top: 55px;
 background:  rgba(255, 255, 255, 0.1);
}
.meet-our-team-content h1{
    color: white;
    font-size: 3rem;
    font-family: inter;
    text-align: center;
}
.meet-our-team-content p{
    color: white;
    font-size: 1rem;
    font-family: inter;
    text-align: center;
}
     /* Meet Our Team  */
     /* footer */
     .footer{
        margin-top: 85px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
     }
     .footer h4{
        color: rgb(230,83,60);
    font-style: italic;
    font-size: 3rem;
    font-family: inter;
    text-align: center;
     }
     .footer p{
        color: white;
    font-size: 1rem;
    font-family: inter;
    text-align: center;
     }
     .getstarted h2{
        color: white;
        font-size: 1rem;
        font-family: inter;
        text-align: center;
     }
      .getstarted1 h2{
        color: white;
        font-size: 1rem;
        font-family: inter;
        text-align: center;
     }
     .getstarted p{
        color: white;
        font-size: 1rem;
        font-family: inter;
        text-align: center;
     }
    
     .getstarted1 p{
        color: white;
        font-size: 1rem;
        font-family: inter;
        text-align: center;
     }
     
     .end{
        color: white;
        font-size: 14px;
        font-family: inter;
        text-align: center;
     }
     /* Book now */
     .book-now{
        margin: 0 auto;
        margin-top: 50px;
        background: #81ecec;
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 180px;
     }
     .book-now-text h1{
font-size: 3rem;
color: white;
font-family: "Poiret One", sans-serif;
text-align: left;
     }
     .book-now-button{
        background: rgba(0, 0, 0, 0.247);
    border-radius: 25px;
    border: none;
    color: white;
    font-size: 25px;
    width: 150px;
    height: 35px;
    margin-top: 12px;
    box-sizing: border-box;
border: 1px solid white;
text-align: center; 
     }
     .book-now-button:hover{
        background: white;
        color: black;
     }
     /* Book now */
    /* Responsive media query for mobile */
@media screen and (max-width:570px) {
    .bar{
        display: block;
       margin-top: 25px;
       color: white;
       
       }
       .nav-options{
        display: none;
       }
       .banner-content{
        flex-direction: column;
       }
       .banner-image{
        width: 60%;
        text-align: center;
       }
       .positions{
        right: 75%;
       }
       .position{
        left: 50%;
       }
       .fa-solid{
        font-size: 3rem;
       }
       .card-section-image{
        flex-direction: column;
      
       }
       .card-section{
        margin-top: 75px;
       }
       .Extra-mile-section-content{
        flex-direction: column;
       }
       .Extra-mile-section-image{
        width: 100%;
    }
        .footer{
            flex-direction: column;
        }
        .Table-and-form-section-content{
            flex-direction: column;
        }
        .book-now{
            flex-direction: column;
            width: 100%;
            padding: 35px;
            height: 350px;
        }
        .book-now-text h1{
            font-size: 2rem;
            text-align: center;
        
        }
    }
      /* Responsive media query for mobile */